{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja ogłoszenia</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-info" type="submit" value="Edytuj" />
        <a class="btn btn-info" href="{{ path('announcements_show' , {'id':announcement.id}) }}">Anuluj</a>
    {{ form_end(edit_form) }}
{% endblock %}
