{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tworzenie kwalifikacji</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Utwórz" />
        <a class="btn btn-info" href="{{ path('qualifications_index') }}">Powrót do listy</a>
    {{ form_end(form) }}
{% endblock %}
