{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Witaj na stronie Dream job for everyone!</h1>
    Jeśli szukasz pracy lub potrzebujesz pracowników do swojej firmy, dobrze trafiłeś! Załóż konto, przeglądaj oferty lub twórz własne.
    Jeśli chcesz dowiedzieć się więcej o naszej stronie przejdź do sekcji "O nas". Aby przeglądać oferty musisz mieć założone konto i zalogować się.

    <div class="text-center">
        <img src="{{ asset('public/praca.jpg') }}">
    </div>
{% endblock %}
