{% extends "::base.html.twig" %}

{% block title %}Info{% endblock %}

{% block body %}
<h1>O nas.</h1>
    Jesteśmy portalem, na którym znajdziesz swoją wymarzoną pracę. Dzięki ofertom z różnych firm na pewno znajdziesz tutaj coś dla siebie.
    Masz możliwość także tworzenia swoich własnych ofert pracy. Aby stworzyć ofertę wystarczy, że się zalogujesz.
{% endblock %}
