{% extends "::base.html.twig" %}

{% block title %}Info{% endblock %}

{% block body %}
<h1>Welcome to the info page</h1>
    Na tej stronie znajdziecie państwo informacje o naszym serwisie.
{% endblock %}
